doctype html
html(lang="en")
  head
    title= pageTitle
    style
      include ../styles/styles.css
    script
      include ../javascript/jquery.js
      include ../javascript/script.js
  body
    iframe(id="video", src="https://www.youtube.com/embed/RePriPCmlro?autoplay=1", frameborder="0", allowfullscreen)